@import url('../fonts/stylesheet.css');


body {
    padding: 0 30px 42px;
    max-width: 1120px;
    margin: 0 auto;
    font-family: 'TT Lakes';
    line-height: 1.6;
    background-color: #F8F8F8;
}

.header {
    margin: 0 -30px;
    padding: 0 24px;
    height: 88px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
}

.header__block__1 {
    display: flex;
}

.header__block__1__menu {
    margin-right: 16px;
}

.header__block__2 {
    display: none;
    margin-left: auto;
}

.header__block__3 {
    display: flex;
    margin-left: auto;
}

.header__block__1__divider,
.header__block__3__divider {
    margin: 0 4px;
}

.header__header__block__1__logo {
    margin-left: 16px;
}

.header__block__2__item {
    margin-right: 16px;
}

.header__block__3__item {
    margin-left: 16px;
}

.nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__header__title__wrapper {
    margin-left: -30px;
    display: flex;
    align-self: center;
}

.nav__header__title {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #1B1C21;
}

.nav__header__title_border {
    margin-top: 24px;
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    border-radius: 4px;
}

.nav__header__nav__list {
    display: none;
}

.nav__header__nav__list__item {
    margin-left: 32px;
    display: flex;
    align-items: center;
}

.nav__header__nav__list__link {
    margin-right: 8px;
    color: #1B1C21;
    text-decoration: none;
}

.nav__wrapper {
    margin-bottom: 16px;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
}

.nav__item {
    padding: 8px 22px;
    white-space: nowrap;
}

.nav__link {
    text-decoration: none;
    font-size: 16px;
    color: #7E7E82;
}

.nav__item_outlined {
    border: 2px solid #B8FFEC;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.main__content {
    display: block;
    justify-content: space-between;
    color: #1B1C21;
}

.main__content__text {
    flex-shrink: 1;
    font-size: 14px;
}

.main__content__description {
    margin-bottom: 14px;
}

.main__readnext-link {
    color: #1B1C21;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.main__readnext {
    margin-bottom: 16px;
}


@media (max-width: 320px) {

    .header {
        padding: 16px;
    }

    .header__block__2 {
        display: none;
    }

}

@media (max-width: 768px) {
    .nav__list {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .nav__list {
        -ms-overflow-style: none;
        /* Для Internet Explorer и Edge */
        scrollbar-width: none;
        /* Для Firefox */
    }

    body {
        padding: 0 16px 35px;
    }

    .main_png {
        width: 320px;
        height: 176px;
        margin: 0 -16px;
    }

    .header {
        margin: 0 -16px;
    }

    .nav__header__title__wrapper {
        margin-left: -16px;
    }

    .header__block__1__divider {
        display: none;
    }

    .header__header__block__1__logo {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .header__block__2 {
        display: flex;
    }

    .header__block__3 {
        margin-left: 0;
    }

    .nav__header__title {
        margin-bottom: 32px;
    }

    .main__content {
        display: flex;
    }

    .main__content__text {
        margin: 32px 10px 48px 24px;
    }

    .main_png {
        margin: 32px 14px 25px 48px;
        width: 360px;
        height: 208px;
    }
}

@media (min-width: 1120px) {
    .nav__header__nav__list {
        display: flex;
    }

    .header {
        display: none;
    }

    .main_png {
        width: 531px;
        height: 307px;
    }

    .nav__header {
        margin-top: 42px;
        margin-right: 25px;
    }

    .nav__header__title {
        margin-bottom: 8px;
    }
}