@import url('../fonts/stylesheet.css');

body {
  max-width: 100%;
  height: 100%;
  display: flex;
  padding: 0px;
  margin: 0 auto;
  font-family: 'TT Lakes';
  line-height: 1.6;
  background-color: #f8f8f8;
}

.header {
  margin: 0 -16px 24px;
  padding: 0 16px;
  height: 88px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #d9fff5;
}

.content-wrapper {
  padding: 0 16px 24px;
  max-width: 100%;
}

.header__block__1 {
  display: flex;
}

.header__block__1__menu {
  margin: 0 auto;
}

.header__block__2 {
  display: none;
  margin-left: auto;
}

.header__block__3 {
  display: flex;
  margin-left: auto;
}

.header__block__1__divider,
.header__block__3__divider {
  margin: 0 4px;
}

.header__header__block__1__logo,
.header__block__3__divider {
  margin-left: 16px;
}

.header__block__3__item {
  margin-left: 16px;
}

.nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__header__title__wrapper {
  margin-left: -16px;
  display: flex;
  align-self: center;
}

.nav__header__title {
  margin-bottom: 24px;
  margin-left: 16px;
  font-size: 28px;
  font-weight: bold;
  color: #1b1c21;
}

.nav__header__title_border,
.feedback_border,
.callback_border {
  height: 40px;
  width: 3px;
  background-color: #41f6d7;
  border-radius: 2px;
}

.nav__header__nav__list {
  display: none;
}

.nav__header__nav__list__item {
  margin-left: 32px;
  display: flex;
  align-items: center;
}

.nav__header__nav__list__link {
  margin-right: 8px;
  color: #1b1c21;
  font-weight: 600;
  text-decoration: none;
}

.nav__wrapper {
  margin-bottom: 16px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  padding: 8px 22px;
  white-space: nowrap;
}

.nav__link {
  text-decoration: none;
  font-size: 16px;
  color: #7e7e82;
}

.nav__item_outlined {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-radius: 6px;
}

.main__content {
  display: block;
  margin-bottom: 32px;
  justify-content: space-between;
  color: #1b1c21;
}

.main_png {
  width: 320px;
  height: 176px;
}

.main__content__text {
  flex-shrink: 1;
  font-size: 14px;
}

.main__content__description {
  margin-bottom: 14px;
}

.main__readnext-link {
  color: #1b1c21;
  text-decoration: none;
  font-size: 16px;
  font-family: 'TT Lakes';
  font-weight: 500;
}

.main__readnext {
  border: none;
  background: none;
  margin-bottom: 16px;
}

.header__title,
.header__technique,
.header__prices {
  font-size: 16px;
  padding: 16px 0;
  color: #7e7e82;
  background: linear-gradient(#f8f8f8 100% #ffffff 100%);
  font-weight: 400;
  text-transform: uppercase;
  border-top: 1px solid #d9fff5;
}

.brands {
  background-color: #f8f8f8;
}

.swiper-wrapper {
  margin-bottom: 42px;
}

.swiper-slide {
  padding: 0;
  margin: 0;
  width: auto;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dddddd;
  opacity: 1;
  border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-right: 8px;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

.brands__list {
  padding: 16px 0;
  display: none;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
}

.brands__list::-webkit-scrollbar {
  display: none;
}

.brands__item {
  padding: 0 16px;
  min-width: 240px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-sizing: border-box;
}

.brands__icon-circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  flex-shrink: 0;
}

.header__menu {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff3e79;
  border-radius: 50%;
  flex-shrink: 0;
}

.brands__logo {
  max-width: 168px;
  margin-right: auto;
}

.header__block__1__divider {
  display: none;
}

.brands__readnext,
.technique__list {
  display: none;
}

.technique__item {
  min-width: 240px;
  height: 160px;
  display: flex;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
}

.technique__content p {
  margin: 16px;
  font-size: 16px;
  color: #1b1c21;
}

.technique__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  flex-shrink: 0;
}

.technique__readnext__btn {
  display: none;
}

.services__list {
  min-width: 260px;
  height: 200px;
  display: flex;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  text-decoration: none;
  position: relative;
}

.services__list {
  padding: 16px;
  font-size: 14px;
  display: block;
}

.services__table_header {
  color: #7e7e82;
}

.services__table {
  font-weight: 500;
  color: #1b1c21;
  margin-bottom: 16px;
}

.services__readnext__button {
  width: 119px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff3e79;
  border-width: 0px;
  border-radius: 16px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: #ffffff;
  font-family: TT Lakes;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.prices__note {
  margin-bottom: 16px;
  color: #1b1c21;
  font-size: 14px;
}

.offer {
  margin-bottom: 40px;
}

.offer__item {
  width: 192px;
  display: inline-block;
  align-items: center;
  text-decoration: none;
  color: #1b1c21;
  font-size: 16px;
  font-weight: 500;
}

.offer__item img {
  flex-grow: 0;
}

.site-footer {
  text-align: center;
  padding: 16px;
  font-size: 14px;
  color: #a0a0a0;
  border-top: 1px solid #d9fff5;
}

.footer__team,
.footer__disclaimer {
  margin-bottom: 16px;
}

.footer__policy {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #a0a0a0;
  text-decoration: none;
}

.footer__disclaimer {
  margin-top: 16px;
}

.repair-services {
  display: none;
}

.blur {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  opacity: 0;
  z-index: -10;
  transition:
    opacity 0.5s ease,
    z-index 0.5s;
  background-color: #ffffff;
}

.blur_open {
  opacity: 0.97;
  z-index: 999;
}

.sidebar {
  min-height: 100%;
  min-width: 320px;
  position: fixed;
  top: 0;
  left: -320px;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition:
    left 0.5s ease,
    opacity 0.5s ease,
    z-index 0.5s;
  padding-left: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 16px 52px rgba(14, 24, 80, 0.3);
}

.sidebar_open {
  left: 0;
  opacity: 1;
  z-index: 1000;
}

.menu__icon,
.technique__button-open {
  display: none;
}

.header__burger__btn,
.contacts__chat__btn,
.contacts__phone__btn {
  font-family: 'TT Lakes';
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.icon-circle {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__header {
  margin-top: 30px;
  margin-bottom: 37px;
  display: flex;
  align-items: center;
}

.header__sidebar_icon-circle {
  margin-right: 30px;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__vertical {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__vertical li {
  margin-bottom: 32px;
  color: #1b1c21;
  font-weight: 500;
}

.menu__vertical a {
  display: block;
  text-decoration: none;
}

.header__search {
  margin-left: auto;
}

.header__logo {
  margin-right: 78px;
}

.menu__item {
  display: flex;
  align-items: center;
  position: relative;
}

.menu_border {
  height: 32px;
  width: 4px;
  background-color: #41f6d7;
  border-radius: 4px;
  position: absolute;
  left: -30px;
}

.sidebar__header__close {
  margin-right: 16px;
}

.contacts__icon {
  display: flex;
  margin-bottom: 16px;
}

.contacts {
  margin-top: 268px;
  background-color: #ffffff;
}

.contacts__phone__btn,
.contacts__chat__btn {
  margin-right: 16px;
}

.contacts a {
  text-decoration: none;
  color: #1b1c21;
}

.contacts__mail {
  margin-bottom: 12px;
}

.contacts__phone {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #1b1c21;
}

.language-switcher {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.technique__readnext {
  display: none;
}

.language-switcher .lang:hover,
.menu__vertical a:hover {
  color: #7e7e82;
  opacity: 0.7;
  filter: brightness(1.2);
}

.language-switcher li {
  margin: 0;
}

.lang {
  margin-right: 7px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.feedback,
.callback {
  width: 320px;
  min-height: 100%;
  background-color: #ffffff;
  padding: 104px 16px 126px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: -440px;
  opacity: 0;
  z-index: -1;
  transition:
    right 0.5s ease,
    opacity 0.5s ease,
    z-index 0.1s;
  box-shadow: 0 16px 52px rgba(14, 24, 80, 0.3);
  box-sizing: border-box;
}

.feedback_open,
.callback_open {
  right: 0;
  opacity: 1;
  z-index: 1000;
}

.feedback__close-btn,
.callback__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  left: 16px;
  border-radius: 50%;
  font-size: 24px;
  background-color: #ff3e79;
  color: white;
  border: none;
  cursor: pointer;
}

.feedback__title,
.callback__title {
  margin-bottom: 24px;
  text-align: left;
  font-size: 24px;
  color: #1b1c21;
  font-weight: bold;
}

.feedback_border,
.callback_border {
  position: absolute;
  left: 0;
}

.feedback__form,
.callback__form {
  display: flex;
  flex-direction: column;
}

.feedback__input,
.callback__input {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: 'TT Lakes';
  width: 100%;
  color: #b5b6bc;
  box-sizing: border-box;
}

.feedback__textarea {
  height: 118px;
  resize: none;
}

.feedback__agreement,
.callback__agreement {
  font-family: 'TT Lakes';
  line-height: 16px;
  font-size: 14px;
  color: #7e7e82;
  margin-bottom: 20px;
}

.feedback__policy-link,
.callback__policy-link {
  font-family: 'TT Lakes';
  font-size: 14px;
  color: #ff4c63;
  text-decoration: none;
}

.feedback__policy-link:hover {
  text-decoration: underline;
}

.feedback__submit-btn,
.callback__submit-btn {
  width: 136px;
  height: 32px;
  background-color: #ff3e79;
  color: white;
  border: none;
  font-family: 'TT Lakes';
  font-size: 12px;
  border-radius: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-left: auto;
}

.feedback__submit-btn span {
  margin-left: 5px;
}

.main__content__hidden {
  display: none;
}

@media (max-width: 320px) {
  .header__block__2 {
    display: none;
  }

  .main_png {
    margin: 0 -16px;
  }
}

@media (min-width: 768px) {
  .mySwiper {
    display: none;
  }

  .brands__list,
  .brands__readnext__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: none;
    column-gap: 24px;
    row-gap: 16px;
  }

  .sidebar__close__btn {
    display: block;
    width: 40px;
    height: 40px;
  }

  .sidebar_open {
    overflow-y: auto;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .brands__readnext__list {
    margin-bottom: 16px;
  }

  .brands__readnext__list > .brands__item,
  .brands__item {
    width: 240px;
  }

  .brands__logo {
    max-width: 152px;
    margin-right: auto;
  }

  .brands__list > .brands__item_hidden,
  .brands__readnext__list_hidden {
    display: none;
  }

  .brands__readnext {
    display: block;
  }

  .technique__readnext__list_hidden {
    display: none;
  }

  .technique__readnext_open {
    display: block;
  }

  .brands__readnext__button,
  .technique__readnext__btn {
    display: flex;
    margin-bottom: 32px;
    font-weight: 500;
    background: none;
    border: none;
    padding: 0;
    color: #1b1c21;
    font: inherit;
    cursor: pointer;
    align-items: center;
  }

  .brands__button-icon {
    display: flex;
    margin-right: 9px;
  }

  .technique__list {
    display: flex;
    margin: 16px 0px;
  }

  .header__block__1__divider {
    display: flex;
    margin-right: 20px;
  }

  .technique__readnext__btn {
    margin-bottom: 32px;
  }

  .repair-services {
    width: auto;
    min-width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
    display: table;
    font-size: 14px;
    border-collapse: collapse;
  }

  table td {
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
  }

  .repair-services td {
    padding: 24px;
    text-align: left;
    white-space: nowrap;
    color: #1b1c21;
  }

  .repair-services th {
    padding: 0 24px 16px;
    text-align: left;
    white-space: nowrap;
    color: #7e7e82;
  }

  .repair-services__link {
    width: 119px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3e79;
    border-width: 0px;
    border-radius: 16px;
    color: #ffffff;
    font-family: TT Lakes;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
  }

  .prices__note {
    width: 421px;
  }

  .footer {
    background-color: #f9f9f9;
    font-size: 14px;
    color: #7e7e82;
  }

  .footer__wrapper {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer__item {
    flex-basis: 33.33%;
  }

  .footer__info {
    text-align: left;
  }

  .footer__policy {
    text-align: center;
  }

  .footer__disclaimer {
    text-align: right;
  }

  .content-wrapper {
    padding: 0 24px 24px;
  }

  .header {
    margin: 0 -24px 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .nav__header__title__wrapper {
    margin-left: -24px;
  }

  .nav__header__title {
    margin-left: 24px;
    margin-bottom: 32px;
  }

  .header__block__2 {
    display: flex;
  }

  .header__block__3 {
    margin-left: 0;
  }

  .main__content {
    display: flex;
  }

  .main_png {
    margin-left: 36px;
    width: 360px;
    height: 208px;
  }

  .technique__item {
    margin-right: 24px;
  }

  .offer__item {
    width: auto;
  }

  .feedback,
  .callback {
    width: 440px;
    padding: 40px 32px;
    border-left: 1px solid #d9fff5;
  }

  .feedback__close-btn,
  .callback__close-btn {
    top: 32px;
    left: -65px;
  }

  .technique__button__arrow-icon {
    transition: transform 0.3s ease;
  }

  .technique__readnext {
    width: 240px;
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .nav__list {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .nav__list {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .header__header__block__1__logo {
    justify-content: center;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .nav__header__nav__list {
    display: flex;
  }

  .header {
    display: none;
  }

  .nav__header__title__wrapper {
    margin-left: -32px;
  }

  .nav__header__title {
    margin-left: 32px;
    margin-bottom: 8px;
  }

  .main_png {
    width: 531px;
    height: 307px;
  }

  .nav__header {
    margin-top: 42px;
  }

  .sidebar {
    position: relative;
    left: 0;
    opacity: 1;
    z-index: 1000;
    box-shadow: none;
  }

  .sidebar__close__btn {
    display: none;
  }

  .content-wrapper {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
  }

  .technique__item {
    margin-right: 32px;
  }

  .brands__list,
  .brands__readnext__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
  }

  .brands__list > .brands__item_hidden {
    display: flex;
  }

  .technique__readnext__list_hidden {
    display: block;
  }
}
